<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
     
    
      
      <?if $(var.Platform)=x64 ?>
      
        <Directory Id="ProgramFiles64Folder">
          <Directory Id="CompanyFolder" Name ="!(loc.CompanyFolderName)" >
            <Directory Id="INSTALLFOLDER" Name="!(loc.ProductFolderName)" >
              <Directory Id="LogFolder" Name="Logs">
                <Component Id="LogFolder" Guid="{99AE68E2-6BA6-4B83-9193-881C479C771D}"
                  SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
                  Win64="yes" Location="either">
                  <CreateFolder/>
			        <RemoveFile Id="PurgeAppFolder" Name="*.*" On="uninstall" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      
      <?else?>
      
        <Directory Id="ProgramFilesFolder">
          <Directory Id="CompanyFolder" Name ="!(loc.CompanyFolderName)" >
            <Directory Id="INSTALLFOLDER" Name="!(loc.ProductFolderName)">         
               <Directory Id="LogFolder" Name="Logs">
                <Component Id="LogFolder" Guid="{99AE68E2-6BA6-4B83-9193-881C479C771D}"
                  SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
                  Win64="no" Location="either">
                  <CreateFolder/>
					<RemoveFile Id="PurgeAppFolder" Name="*.*" On="uninstall" />
				</Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      <?endif?>
    
    </Directory>
  
</Fragment>
</Wix>
